/*GERAL*/
    /*Formata a página*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*Configurações gerais*/
    body{
        font-family: cambria, Arial, Helvetica, sans-serif;
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }

    main{
        flex: 1;
    }


/*BARRA DE NAVEGAÇÃO*/
    /*Geral*/
    /* .navbar{ 
        display: flex;
        background-color: #f329d2;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }*/

    .navbar{
        display: flex;
        /* width: 1000px; */
        /* flex-direction: column; Alinha os itens em coluna */
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 5px solid #f329d2; /*retângulo de 5px abaixo da navbar*/
        background-color: transparent;
        padding: 0 20px;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* margin-bottom: 10px; */
    }
    
    /*Imagem*/
    .logo img{
        width: 120px;
        /* height: 80px; */
        /* border-radius: 25px; */
        margin: 10px;
    }

    /*Botões*/

    .nav-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .nav-buttons a {
        text-decoration: none;
        font-size: 1.1rem;
        color: black;
        border: none;
        background-color: transparent;
        /* border-bottom: 2px solid black; */
        /* margin: 10px; */
        padding: 5px 10px;
        transition: transform 0.2s, background-color 0.2s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .icon{
        width: 25px;
        height: 25px;
        margin: 0 10px;
        transition: transform 0.2s;
    }

    /*Botões hover (quando passa por cima)*/
    .nav-buttons a:hover{
        transform: scale(1.2);
        background-color: #f329d2;
        color: white;
        border-radius: 10px;
    }

    .icon:hover{
        transform: scale(1.2);
        /* background-color: #f329d2; */
        /* border-radius: 10px; */
    }

/*AREA DE CONTEUDO*/
    /*Geral*/
    .area-conteudo{
        font-size: 1.1rem;
        max-width: 80vw;
        text-align: center;
        margin: 30px auto;
    }
    
    .area-conteudo .button{
        width: 100px;
    } 

    .app-destaque{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap; /*ajuda na responsividade*/
        gap: 40px; /*espaçamento entre os itens*/
        margin: 20px auto;
        max-width: 80vw;
    }

    .app-destaque .info-app{
        margin-top: 80px;
        padding: 30px;
        width: 400px;
        /* max-width: 500px; */
        /* height: 300px; */
        flex: 1 1 400px; /*flex-grow, flex-shrink, flex-basis*/
        display: flex;
        flex-direction: column;
        gap: 40px; /*espaçamento entre os itens*/
        background-color: #dddddd;
        border-radius: 20px;
        color: black;
    }

    .info-app h3{
        color: #000000;
        margin-top: 0px; 
    }

    .qr-code-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 30px;
        flex-wrap: wrap; /*ajuda na responsividade*/
    }

    .qr-code-item{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .qr-code-img{
        width: 180px;
        height: auto;
        margin-bottom: 10px;
    }

    .button-container{
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .btn-baixar{
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        gap: 10px; /*espaçamento entre os itens*/
        background-color: #f329d2;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        margin: 20px 0 10px;
    }
    .btn-baixar:hover{
        background-color: #d81b8c;
        transform: scale(1.05);
    }

    .imagem-celular{
        width: 300px;
        height: auto;
        margin-top: 20px;
        flex: 1 1 300px; /*flex-grow, flex-shrink, flex-basis*/
        align-self: center; /*alinha o item ao centro*/
    }


/*FOOTER*/
    /*Geral*/
    footer{
        display: flex;
        /* justify-items: center; */
        justify-content: space-between;
        align-items: center;
        background-color: #f329d2;
        font-size: 1.1rem;
        color: black;
        padding: 10px;
        margin-top: 50px;
    }

    /*Conteudo*/
    .footer-conteudo{
        color: white;
        max-width: 50vw;
        margin: 10px;
    }

    .footer-conteudo h3{
        color: white;
        margin-top: 0px;
        padding-bottom: 15px;
    }

    /*Área Contatos*/
    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 100%;
        margin: 10px;
        }


    .contato span{
        display: block;
        font-size: 1.3rem;
        /* justify-items: center; */
        text-align: center;
        border-bottom: 2px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        margin: 10px 10px;
    }